<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Recipe Collection Activity -->
        <activity android:name=".ui.collection.RecipeCollectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Recipe Detail Activity -->
        <activity
            android:name=".ui.details.RecipeDetailActivity"
            android:parentActivityName=".ui.collection.RecipeCollectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bakingapp.ui.collection.RecipeCollectionActivity" />
        </activity>

        <!-- Baking App Widget -->
        <receiver android:name=".widget.BakingAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>

        <!-- Service to sync the Widget with App Data-->
        <service android:name=".widget.SyncWidgetService" />

        <!-- Service to handle the list view of the Widget -->
        <service android:name=".widget.ListViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>